

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
}
header{
    padding-top: 20px;
    padding-bottom: 20px;
}
body{
    background-color: #FDF4F5;
}
.image img{
    width: 100px;
}
.logo img{
    width: 100px;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 20px;
}
.container{
    display: flex;
    align-items: center;
}
.navbar-text li{
    list-style: none;
}
.navbar-text li a{
    text-decoration: none;
    font-weight: 350;
    transition: 0.7s ease;
    color: #93A1F1;
    border-radius: 10px;
}
.navbar-text li a{
    padding: 10px 20px;
}
.navbar-text li a:hover{
    background-color: #9D76C1;
    border-radius: 10px;
}
.navbar-text li a:hover{
    color: #FAF9F6;
}
.navbar-text {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    gap: 14px; 
}
a{
    text-decoration: none;
    color: inherit;
}
.logo a{
    font-weight: 600;
}
.home-container{
    display: flex;
    padding: 30px;
    gap: 15px;
    color: #93A1F1;
}
.home-container h1{
    font-weight: bolder;
    font-size: 55px;
}
.home-container p{
    margin-top: 13px;
    max-width: 550px;
}
.home1 span{
    font-weight: 900;
    background-color: #93A1F1;
    padding: 0px 20px 0px 20px;
    color: #FAF9F6;
}
.home2{
    margin-left: auto;
    margin-right: 40px;
}
.home2 img{
    width: 450px;
    margin-top: -50px;
}
.title{
    font-weight: 700;
    font-family: 'Poppins', sans-serif; 
    font-size: 35px;
}
.download{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.download div{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s ease;
    padding: 10px 20px;
}
.download div img{
    width: 30px;
}
.download div:hover{
    background-color: #93A1F1;
    border-radius: 10px;
}
.divider{
    display: flex;
    align-items: center;
    margin-top: 80px;
}
.divider hr{
    width: 100%;
    border: none;
    outline: none;
    height: 4px;
    background: #93A1F1;
}
.divider h2{
    margin: 4px;
    color: #93A1F1;
}
.about p{
    width: 70%;
    margin: auto;
    color: #93A1F1;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
}
.contact form{
    box-shadow: 1px 1px 2px 1px rgb(226, 220, 220);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    margin: 20px;
    margin-top: 40px;
    gap: 10px;
}
.contact form input, .contact form textarea{
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #93A1F1;
    color: #93A1F1;
    outline: none;
    padding: 10px;
}
.contact form button{
    background-color: #93A1F1;
    padding: 14px;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    color: #FAF9F6;
}
footer h3{
    padding: 20px;
    text-align: center;
}
@media screen and (max-width:480px){
    header{
        display: grid;
    }
    .navbar-text{
        display: grid;
    }
    .container{
        display: grid;
    }
    .navbar-text{
        width: 100%;
        margin-top: 20px;
        padding: 10px;
    }
    .navbar-text li a{
        width: 100%;
        margin: 0%;
        padding: 10px;
        text-align: center;
        display: grid;
    }
    .home-container{
        display: grid;
    }
    .home-container img{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    .home1{
        text-align: center;
    }
    .download{
        display: grid;
        gap: 10px;
    }
}